body {
    background-color: #202A44;
}

h1 {
    color: white;
    font-size: 10vh;
    padding-left: 30px;
    align-items: left;
}

h2 {
    padding-left: 30px;
    color: white;
    /* margin-top: -100px; */
}

h3 {
    padding-left: 30px;
    color: white;
}

h4 {
    color: white;
    font-size: 10vh;
    padding-left: 30px;
    align-items: left;
    margin-top: -50px;
}

h5 {
    margin-top: -1px;
    padding-left: 30px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.new-style {
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
}

p {
    color: white;
    width: 75%;
    padding-left: 30px;
    font-size: 18px;
}

ul {
    list-style-type: circle;
    padding-left: 100px;
    color: white;
}

li {
    padding-bottom: 15px;
}

img {
    width: 450px;
    height: auto;
}

section {
    position: relative;
    width: 100%;
    background-position: center;
    margin-bottom: 100px;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    /* padding: 30px 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding-left: 100px;
}

.container1 {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding-left: 100px;
}

.container2 {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding-left: 100px;
}

.container3 {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding-left: 100px;
}

.left-column {
    flex: 1; 
    padding: 20px;
    margin-left: -30px;
}

.right-column {
    flex: 1; 
    padding-left: 100px;
    order: 3; /* Move the right column to the end */
    margin-top: -140px;
}

.left1-column {
    flex: 1; 
    padding: 20px;
    /* margin-left: -30px; */
}

.right1-column {
    flex: 1; 
    padding-left: 100px;
    order: 3; 
    margin-left: 100px;
    /* margin-top: -140px; */
}

.left2-column {
    flex: 1; 
    padding: 20px;
    margin-left: -30px;
}

.right2-column {
    flex: 1; 
    padding-left: 100px;
    order: 3; /* Move the right column to the end */
    margin-top: -140px;
}

.app-image {
    width: 500px;
    height: auto;
    margin-top: 180px;
    margin-bottom: 100px;
    border-radius: 25px;
}

.resume-image {
    padding-left: 30px;
    padding-bottom: 100px;
    width: 700px;
    height: auto;
}

.technical-left-column {
    flex: 1; 
    padding: 20px;
    margin-left: -250px;
}

.technical-right-column {
    flex: 1; 
    padding-left: 200px;
    order: 3; /* Move the right column to the end */
}

.prof-image {
    width: 450px;
    height: auto;
    border-radius: 75px;
}

.replace-image {
    width: 0px;
    height: auto;
}

.app1-image {
    width: 0px;
    height: auto;
}

.frame {
    height: 800px;
}
/* .nav a {
    display: block;
    color: white;
    margin: 10%;
    margin-right: 0px;
    margin-left: 8%;
    padding: 16px;
    padding-left: 4px;
    text-decoration: none;
    font-size: 1.5vw;
} */

.new-header {
    margin-top: -50px;
}

.buttonstyle {
    margin-left: -80px;
    margin-top: -50px;
    background-color: white; /* Green */
    border: none;
    color: #202A44;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}